{% extends 'boss/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'kitchen_create_url' %}", method="post">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Date</h6>
                                </div>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" name="date"/>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0">work shift</h6>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-select mb-0" aria-label="Default select example" name="work_shift">
									<option selected value="{{worker.worker_shift.id}}">{{worker.worker_shift}}</option>
									{% for time in work_shifts %}
                                    <option value="{{time.id}}">{{time}}</option>
                                    {% endfor %}
								</select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <input type="submit" class="btn btn-light px-4" value="Save Changes" />
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}