{% extends 'boss/base.html' %}
{% load static %}
{% block content %}

<div class="col-lg-5">
    <div class="card">
        <div class="card-body">
            <form action="{% url 'create_section_url' %}", method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0">First Name</h6>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="first_name" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0">Last name</h6>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="last_name"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0">Username</h6>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="username"/>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0">Password</h6>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="password"/>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0">Section title</h6>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="title"/>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <input type="submit" class="btn btn-light px-4" value="Save" />
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}